body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0f;
    color: white;
}

h1 {
    color: orange;
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 20px;
}

button {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    background: orange;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
}
